* {
	box-sizing: border-box;
}
body{
	width: 100%;
	font-family: "Roboto", sans-serif;
	margin : 0px;
	padding-bottom: 5em;
	background: linear-gradient( 180deg, rgba(0, 41, 255, 0.02) 0%, rgba(0, 41, 255, 0) 100% );
}
.border{
	height: 6px;
	border:0;
	background-color: #fd7576;
	background-image: linear-gradient(to right, #fd7576, #fd7576 25%, #fec85d 25%, #fec85d 50%, #4db8de 50%, #4db8de 75%, #a378fc 75%, #a378fc 100%, #a378fc 100%);
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
	background-size: 50% 100%; 
	
}

#menuToggle
{
	display: block;
	position: absolute;
	top: 30px;
	right: 30px;
	
	z-index: 1;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menuToggle input
{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	
	cursor: pointer;
	
	opacity: 0; /* hide this */
	z-index: 12; /* and place it over the hamburger */
	
	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	
	background: #000;
	border-radius: 3px;
	
	z-index: 11;
	
	-webkit-transform-origin: 4px 0px;
	transform-origin: 4px 0px;
	-webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
	opacity: 1;
	-webkit-transform: rotate(45deg) translate(-2px, -1px);
	transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
	opacity: 0;
	-webkit-transform: rotate(0deg) scale(0.2, 0.2);
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
	opacity: 1;
	-webkit-transform: rotate(-45deg) translate(0, -1px);
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
	position: absolute;
	width: 300px;
	padding: 50px;
	padding-top: 125px;
	margin: 0;
	right: -100px; top: -30px;
	
	background: #fff;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	
	-webkit-transform-origin: 0% 0%;
	
	transform-origin: 0% 0%;
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
	
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	
	transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);
	z-index: 10;
}

#menu a
{
	display:block;
	padding: 10px 0;
	font-size: 22px;
	color: black;
	text-decoration: none;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ #menu
{
	-webkit-transform: scale(1.0, 1.0);
	transform: scale(1.0, 1.0);
	opacity: 1;
}

#app{
	width:750px;
	max-width: 90%;
	margin: 0 auto;
}
.main_header, .submit_header{
	margin: 1em 0 0;
}
.logo{
	display: block;
	text-align: center;
}
.logo h1{
	display:inline-block;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 1.54em;
}
.logo h1 span{
	font-weight: 400;
}
.logo h2{
	display: inline-block;
	font-weight: 300;
}
.logo h2:before{
	content: " —   ";
}

.main_header .logo h1{
	float: left;
	margin: 0 0 0 1em;
	text-transform: uppercase;
	padding-top: .2em;
	color :#34324b;
}

.nav{
	float:right;
	padding-top: .7em;
}
.nav a {
	color: #74718f;
	margin-left: 1em;
	text-decoration: none;
	font-weight: 550;
}
.current{
	color: #34324b;
	font-weight: 700;
	
}
#listing{
	display:inline-block;
	width: 100%;
	position: relative;
	margin: 50px auto 0;
}
#timeline:after {
	content: "";
	width: 1px;
	background: 1px #e6e7e9;
	height: 90%;
	position: absolute;
	top: 3em;
	left: 3em;
	z-index: 0; 
}
#listing .list-item{
	background-color: white;
	border: 1px solid #e6e7e9;
	border-radius: 0.3em;
	padding: 1em;
	margin-bottom: 1em;
	position: relative;
	display: flex;
	width: 100%;
	transition: all .3s ease-in-out;
	text-decoration: none;
}
.list-item:hover{
	cursor: pointer;
	box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);

}
.info,.job_type{
	vertical-align: middle;
	font-size: 0.9em;
	color: #74718f;
}
.info{
	line-height: 1.25;
	width: 640px;
	padding-left: 25px;
}
.job_title{
	font-weight: 700;
	font-size: 1.5em;
	color: #34324b;
}
.job_info{
	color:#74718f;
	display: block;
	font-size: 1.2em;
}
.job_info span{
	margin: 0 .75em;
}
.job_info span:first-child{
	margin: 0 .75em 0 0;
}
.job_type{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.75em;
	position: relative;
	white-space: nowrap;
	padding-top: .6em;
	width: 100px;
}
.job_type:before{
	content: " ";
	background-color: #fd7576;
	width:10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left:-20px;
	top:9px;
}
.full_time{
	color: #fd7576;

}
.full_time:before{
	background-color:#fd7576;
}
.part_time{
	color: #fec85d;

}
.part_time:before{
	background-color:#fec85d;
}
.freelance{
	color: #4db8de;

}
.freelance:before{
	background-color:#4db8de;
}
.contract{
	color: #a378fc;

}
.contract:before{
	background-color:#a378fc;
}
.date{
	display: inline-block; 
	padding: 1em 0;
	width: 100px;
	background-color: white;
	border: 1px solid #e6e7e9;
	border-radius: 3em;
	font-weight: 700;
	font-size: .75em;
	text-align: center;
	z-index: 2;
	position: relative;
	margin : 1em 0 2em 0;
	color: #34324b;
}
.load_more{
	text-align: center;
}
.button{
	border : 2px solid #a378fc;
	outline: none;
	padding: 1em 3.5em;
	text-align: center;
	background: transparent;
	border-radius: 3em;
	color: #a378fc;
	transition:all .3s ease-in-out;
	cursor: pointer;
}
.button:hover{
	background-color: #a378fc;
	color: white;
}
.full-btn{
	display:block;
	margin: 1em auto;
}

.field {
	position:relative;
	padding: 0.3em;
}
.field-label {
	font-weight: 700;
	color: #102a43;
	line-height: 35px;
	line-height: 2.5rem;
	font-size: 1em;
	font-size: 0.8rem;
	text-transform: uppercase;
}
#submit-btn {
	width: 100%;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	margin-top: 1.3em;
}
.submit-form {
	width: 95%;
	max-width: 800px;
	margin: 2em auto;
	background-color: #ffffff;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	overflow: hidden;
}

.required-star {
	color: #fc4366;
}

.form-input {
	position:relative;
	display: block;
	width: 100%;
	padding: 9px 10px;
	border: 1px solid #e1e2eb;
	background-color: #fff;
	color: #102a43;
	caret-color: #829ab1;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	line-height: 150%;
	box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
	border-radius: 3px;
}
#char-counter{
	display:block;
	text-align:right;
	font-size: 0.9em;
	margin-top: 5px;
}
#salary-range{
	padding: 9px 70px 9px 40px;
}
.supp-labels{
	position: absolute;
	font-size: 1em;
	color: #333;
}
#supp-usd{
	left: 13px;
	bottom: 18px;
}
#supp-month{
	right: 10px;
	bottom: 18px;
}

#modal-overlay{
	display:none;
	position:fixed;
	top:0; bottom:0; left: 0; right: 0;
	background: rgba(0,0,0,0.3);
	text-align: center;
	z-index: 20;
}
#modal-overlay.show{
	display:block;
}
.modal {
	visibility: hidden;
	position:fixed;
	width: 95%;
	max-width: 500px;
	min-height: 500px;
	background-color: #fff;
	margin: 5% auto;
	padding: 40px 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 30px #999;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 21;
    transform: translateY(20%);
	opacity: 0;
	transition: transform 0.3s;
}
.modal-close{
	position:absolute;
	top: 0; right: 0;
	color: #000;
	font-size: 2.5em;
	padding: 0 10px 0;
	cursor:pointer;
}
.modal.show{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.modal h2{
	color: #000;
	text-align:center;
}
#submitted-modal{
	height: 350px;
	min-height: 0;
}
#submitted-modal h2{
	margin-bottom: 2em;
}

@media only screen and (max-width: 768px){
	.main_header{
		margin: 1.5em 0 0;
	}
	.main_header .logo{
		display: block;
		text-align: center;
	}
	.main_header .logo h1{
		float: none;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 1.3em;
	}
	.nav{
		float:none;
		text-align: center;

	}
	.nav a {
		margin: 0 .5em;
		text-decoration: none;
	}
}
